<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            background-image: url('/home_backgroundimg.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
    <title>Recipe Search</title>
</head>

<body>
    <div class="container">
        <h1>Find a Recipe!</h1>
        <form action="/search" method="POST">
            <input type="text" name="query" placeholder="Search for a recipe ..." />
            <input type="text" name="diet" placeholder="Dietary Preference" />
            <input type="text" name="cuisine" placeholder="Cuisine" />
            <button type="submit">Search</button>
        </form>
    </div>
</body>

</html>