<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>

    <style>
        body {
            background-image: url('/home_backgroundimg.jpg');
            background-size: cover;
            /* Adjust as needed */
            background-position: center;
            /* Adjust as needed */
        }
    </style>
</head>

<body>
    <div class="container">


        <h1>Login Form</h1>

        <form action="/login" method="post">
            <input placeholder="Name" name="name" type="text">
            <br>
            <input placeholder="Password" name="password" type="password">
            <br>
            <input class="sub" type="submit">
            <h3>Dont have a account ?</h3>
            <a href="/signup">Create a new account</a>
        </form>

    </div>

</body>

</html>