<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
    <style>
        body {
            background-image: url('/home_backgroundimg.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <h1>Sign Up</h1>

    <form action="/signup" method="post">
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
        <a href="/">Go back to login page</a>
    </form>


</body>

</html>